{% extends "base.html" %}
{% block content %}
    <h1>{{ header_text }}</h1>

    <button data-effect-name="no-filter" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">No filter</button>
    <button data-effect-name="sunny" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Sunny</button>
    <button data-effect-name="old-photo" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Old photo</button>
    <button data-effect-name="test" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Test</button>
    <button data-effect-name="gentleman" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Gentleman</button>
    <button data-effect-name="royal" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Royal</button>
    <button data-effect-name="beach" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Beach</button>
    <button data-effect-name="hippie" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Hippie</button>
    <button data-effect-name="skiing" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Skiing</button>
    <button data-effect-name="underwater" type="button" class="btn btn-secondary btn-lg btn-block effect-btn">Underwater</button>
{% endblock %}