body {
    background-color: rgba(238, 238, 238, 0.57);
}

.content {
    padding-top: 15px;
}

.content h1 {
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.card-panel {
    margin-bottom: 30px;
}

.card-content {
    padding: 15px;
}

.card a:hover {
    text-decoration: none;
}

.photo-wrapper {
    margin-bottom: 15px;
}

.photo-wrapper img {
    max-height: 300px;
}